span.dashboard.glyphicon-search {
    font-size: 2em;
    color: #862424;
}

.cards-list {
    border: 1px gray solid;
    border-radius: 10px;
}

.member-card {
    background-color: #ffffff;
    color:  black;
    border: 2px solid black;
    padding: 15px;
    margin: 15px;
    height: auto;
    width: 190px;
    border-radius: 10px;
    cursor: pointer;
    display: inline-block;
    text-align: center;
}

.selected {
    background-color: #ADD8E6;
    color: white;
}