span.dashboard.glyphicon-search {
    font-size: 2em;
    color: #862424;
}

.cards-list {
    border: 1px gray solid;
    border-radius: 20px;
}

.member-card {
    background-color: #ffffff;
    color:  black;
    border: 2px solid black;
    padding: 1em;
    margin: 2em;
    height: auto;
    width: 11em;
    border-radius: 20px;
    cursor: pointer;
    display: inline-block;
    text-align: center;
}

.selected {
    background-color: #ADD8E6;
    color: white;
}