html, body {
    height: 100%;
    margin: 0;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    background: rgb(221, 214, 243);
    background: radial-gradient(circle, #F6D5F7 40%, #FBE9D7 100%);
    color: black;
}

.icon:hover {
    cursor: pointer;
    transform: scale(1.1, 1.1);
}

/*.cards-list {*/
/*    !*border: 1px gray solid;*!*/
/*    border-radius: 10px;*/
/*}*/

.member-card {
    /*background-color: #ffffff;*/
    /*color: black;*/
    transition: 0.4s;
    border: 1px solid black;
    padding: 10px;
    margin: 15px;
    height: auto;
    width: 190px;
    border-radius: 10px;
    cursor: pointer;
    display: inline-block;
    text-align: center;
}
.member-card:hover {
    cursor: pointer;
    transform: scale(1.03, 1.03);
}

.selected {
    border: 2px solid #6F32BE;
    /*background-color: rgba(173, 216, 230, 0.37);*/
    color: #24282a;
}

.not-found {
    padding: 15px;
    margin: 15px;
    height: auto;
    width: 190px;
    text-align: center;
}

button {
    border-radius: 5px;
    margin: 10px;
    background-color: ;
}

button:hover {
    cursor: pointer;
    transform: scale(1.03, 1.03);
}

#main-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

#content {
    flex: 1;
    min-height: calc(100% - 50px);
    margin-bottom: -50px;
}


.footer {
    padding-top: 15px;
    text-align: center;
    position: fixed;
    display: block;
    left: 0;
    bottom: 0;
    width: 100%;
}

#welcome-section {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    flex: 1;
    margin: 10px auto;
    text-align: center;
    color: #555555;
}

.dashboard-section {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    flex: 1;
    margin: 10px auto;
    text-align: center;
    color: #555555;
}

#features {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    flex: 1;
    margin: 20px auto;
    text-align: center;
    color: #555555;
}

.row {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    margin-right: -1rem;
    margin-left: -1rem;
}

.text-dark-gray {
    color: #59687c;
    margin: 10px;
    font-size: medium;
}

p {
    font-size: 14px;
}