{% extends 'base.html' %}

{% block title %} Dashboard {% endblock %}

{% block content %}
    <div class="container">
        <div class="page-header">
            <h2 class="text-center"> Dashboard </h2>
        </div>
    </div>


    <div class="container" >
        <div class="row">

            <div class="col-lg-6" id="members">

            </div>

            <div class="col-lg-6">
                <h2 class="text-center"> Data viz </h2>

                <canvas id="test-chart"></canvas>


                <script>
                    const testChart = new Chart(
                        document.querySelector('#test-chart'),
                        {
                            type: 'line',
                            data: {
                                labels: ['does', 'this', 'work'],
                                datasets: [
                                    {data: [2, 4, 8]}
                                ]
                            }
                        }
                    );
                </script>


            </div>


        </div>
    </div>


    <!-- IMPORT AJAX FILES -->
    <script src="/static/js/membercards.jsx" type="text/jsx"></script>

{% endblock %}