{% extends 'base.html' %}
<title>{% block title %}Conversation Insights{% endblock %}</title>

{% block content %}
    <div id="welcome-section">
        <h1>Welcome!</h1>
        <h2>Why scroll when you can see the big picture?</h2>
        <h2>Get analytics</h2>
        <form action="/upload" method="POST" enctype="multipart/form-data">
            <input type="file" name="file"/>
            <br>
            <input type="submit"/>
        </form>
    </div>


    <div id="footer">
        Designed and developed by <a class="mainpage-links" href="https://github.com/aramattamara">Tamara Vashchuk</a>. Built at <a class="mainpage-links" href="https://hackbrightacademy.com/">Hackbright Academy</a>.
        <br />
        <p>2023 Conversation Insights. All Rights Reserved.</p>
    </div>

{% endblock %}






