{% extends 'base.html' %}
<title>{% block title %}Conversation Insights{% endblock %}</title>

{% block content %}
    <div><a href="javascript:window.history.back();">
        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-arrow-narrow-left" width="44"
             height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="#6f32be" fill="none" stroke-linecap="round"
             stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
            <line x1="5" y1="12" x2="19" y2="12"/>
            <line x1="5" y1="12" x2="9" y2="16"/>
            <line x1="5" y1="12" x2="9" y2="8"/>
        </svg>
    </a></div>
    <div class="section only-new">
        <div class="row" style="justify-content: space-around; padding-left: 25px">
            <div class="col-7">
                <h1 class="homepage-hero-heading" style="font-size: 34px; line-height: 38px; padding-top: 20px">Add<a
                        href="https://t.me/ConversationInsightsBot" target="_blank"> <span id="change-color"> @ConversationInsightsBot </span></a>to
                    your channel</h1>
                <script src="static/js/change_color.js"></script>
                <h2 class="text-dark-gray">Please make sure that the channel from which you would like to collect data
                    is public so that everyone can see the statistics for that channel</h2>
            </div>
            <div class="col-5"
                 style="display: flex; flex-direction: column; align-content: center; justify-content: center; flex-wrap: wrap;">
                <div class="add-bot">
                    <button>
                        <h3><a href="https://t.me/ConversationInsightsBot" target="_blank">@ConversationInsightsBot</a>
                        </h3>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div>
        <h3>Or select channel</h3>
        <ul class="list-group list-group-flusht">
            {% for chat in chats %}
                <li class="list-group-item" style="padding: 0; background-color: transparent; border: none">
                    {#                    <div class="flex-parent-element">#}
                    <a href="/dashboard/{{ chat.chat_id }}" class="chat">
                            <span>
                               <svg xmlns="http://www.w3.org/2000/svg"
                                    class="icon icon-tabler icon-tabler-chevron-right" width="28" height="28"
                                    viewBox="0 0 24 24" stroke-width="3" stroke="#6f32be" fill="none"
                                    stroke-linecap="round" stroke-linejoin="round">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                   <polyline points="9 6 15 12 9 18"/>
                                </svg>
                                <span style="color: #cf3881; font-size: 24px">
                                   {{ chat.title }}
                                </span>
                            </span>
                        <span>
                                total members: <span
                                style="font-size: 20px; color: #e9572f">{{ chat.total_members }}</span>
                            </span>
                    </a>
                    {#                    </div>#}
                </li>
            {% endfor %}
        </ul>

    </div>

{% endblock %}
