{% extends 'base.html' %}
<title>{% block title %}Conversation Insights{% endblock %}</title>

{% block content %}
    <div>
        <h2>If you don't see your channel here</h2>
        <ul class="chat-list">
            {% for chat in chats %}
                <li>
                    <a href="/dashboard/{{ chat.chat_id }}" class="chat">
                        <h3> {{ chat.title }}</h3>
                    </a>
                </li>
            {% endfor %}
        </ul>


        <h2>Add this bot to the channel and refresh page</h2>
        <a href="https://t.me/ConversationInsightsBot" target="_blank" >@ConversationInsightsBot</a>


    </div>

{% endblock %}
