{% extends 'base.html' %}
<title>{% block title %}Conversation Insights{% endblock %}</title>

{% block content %}
    <div class="section no-padding">
        <div class="row" style="justify-content: space-around; padding-left: 25px">
            <div class="col-5">
                <h1 class="homepage-hero-heading" style="font-size: 48px"><span id="change-color"> Upload your channel </span>.json </h1>
                <script src="static/js/change_color.js"></script>
                <h2 class="text-dark-gray">Export your channel's history as a .json file and upload it</h2>
            </div>
            <div class="col-7">
                <div>
                    <label for="file" class="drop-container">
                        <span class="drop-title">Drop file here</span>
                        or
                        <form action="/upload" method="POST" enctype="multipart/form-data">
                            <input type="file" name="file" class="upload-file" required/>
                            <br>
                            <input type="submit" class="upload-file"/>
                        </form>
                    </label>
                </div>
            </div>
        </div>
    </div>

    <div class="how-to">
        <h3>How to export channel history from Telegram?</h3>

        <div class="accordion accordion-flush" id="accordionFlushExample">
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                        Launch the Telegram app on your desktop and open the channel for which you want to
                        export chat.
                    </button>
                </h2>
                <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                        Now click on the three-dot icon at the top-right of the screen. From the various
                        options available, click on the Export chat history.
                    </button>
                </h2>
                <div id="flush-collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body"><img src="static/img/select-contact-and-export-chat-history.png"
                                                     alt="select-contact-and-export-chat-history" width="200"
                                                     height=auto>
                    </div>
                </div>
            </div>

            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#flush-collapseThree" aria-expanded="false"
                            aria-controls="flush-collapseThree">
                        After clicking, a Chat Export Settings window will pop up. Here, you can select various files such as photos or videos that you want to export along with your chats. However, since we don't need any photos or videos, make sure to unselect all of them. It is also possible to select the download path as well as the dates between which you want to download the data.
                    </button>
                </h2>
                <div id="flush-collapseThree" class="accordion-collapse collapse"
                     data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body"><img src="static/img/export-data.png" alt="json-format" width="200" height=auto><br>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#flush-collapseFour" aria-expanded="false"
                            aria-controls="flush-collapseFour">
                        Choose the correct path where you would like to download the .json file and select the export format to be ".json". Then, click on the "Save" button followed by the "Export" button
                    </button>
                </h2>
                <div id="flush-collapseFour" class="accordion-collapse collapse"
                     data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body"><img src="static/img/json-format.png" alt="json-format" width="200" height=auto><br>
                    </div>
                </div>
            </div>
        </div>

    </div>



{% endblock %}